/* gradientes, bordes, estilos de las secciones*/

.sectionHojaVida{
    padding: 20px;
    border: 2px solid #5E52BA;
    margin-bottom: 20px;
    background: rgb(218,232,255);
background: linear-gradient(90deg, #F5CAE0 24%, #5E52BA 100%);}

section{
    margin-bottom: 20px;
}