.sectionHojaVida{
    border: 5px solid black;
    margin-bottom: 20px;
    background: rgb(218,232,255);
background: linear-gradient(90deg, rgba(218,232,255,1) 24%, rgba(32,183,253,1) 100%);}

section{
    margin-bottom: 20px;
}