

/*contenedor de las paginas*/

body{
    min-width: 100vh;
    position: relative;
}




main{
    max-width: 800px;
    flex: 1;
    background-color: #ffffff;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: inherit;
    justify-content: center;
    display: inherit;
    position: relative;
    flex-direction: inherit;
    padding-bottom: 50px;
    box-sizing: content-box;
    min-height: 100vh;
}

/*Estilos generales para etiquetas*/

h1{
    text-decoration: underline;
    text-decoration-color: #C467C4;
    font-family: "Noto Serif", serif;
}

h2{
    color: #5541AE;
}

section{
    margin-bottom: 20px;
}

ol li::marker, ul li::marker{
    color: #5541AC;
}


a{
    text-decoration: none;
    font-family: "Montserrat", sans-serif
}


/*Estilos para tablas*/

table, th, td {
    border:1px solid #5E52BA;
}

th{
    background-color: #B46EB6;
    color: white;
    font-weight: bold;
}

tbody tr:nth-child(even) {

    background-color:#DD92DB;

    }

 tbody tr:nth-child(odd) {

    background-color: #F5CAE0;

    }

p{
    font-family: "Montserrat", sans-serif;
}




/* header para todas las paginas */
header{
    display: flex;
    justify-content: space-between;
    min-height: 100%;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 10px;
    margin: 0;
    background-color: #5E52BA;
    z-index: 10000;
    height: 50px;
}



header ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    width: 90%;
}

header ul li{
    color: white;
}


.website-links a :hover{

    color: #F5CAE0;

}

/*footer para todas las paginas*/

footer{
    left: 0;
    padding-left: 4%;
    padding-right: 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    position: absolute;



    width: 100%;

    margin: 0;
    background-color: #5E52BA;

    height: 50px;
}

footer a, .header a{
    color: white;
}

footer h3
{
    font-family: "Noto Serif", serif;
    color: #F5CAE0;
}

footer ul{
    list-style-type: none;
}

footer a:hover, header a:hover{
    color: #F5CAE0;
}
