/*estilos contenedor de pagina*/

.website-container{
    max-width: 1000px;
    flex: 1;
    background-color: #ffffff;

    height: inherit;
    margin: 0 auto;
    align-items: inherit;
    justify-content: center;
    display: inherit;
    flex-wrap: inherit;
    position: relative;
    flex-direction: inherit;

    box-sizing: content-box;
}

ul{
    list-style: none;

    padding: 0;
    margin: 0;
}



table, th, td {
    border:1px solid black;
  }


/* header para todas las paginas */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 10px;
    margin: 0;
    background-color: #6666ff;
    z-index: 10000;
    height: 50px;
}

.header ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    width: 90%;
}

/*footer para todas las paginas*/

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    padding: 10px;
    margin: 0;
    background-color: #6666ff;
    z-index: 10000;
    height: 50px;
}